.inventory-item {
    background: wheat;
    display: flex;
    flex-direction: column;
    max-width: 15rem;
    padding: 1rem;
    margin: 1rem;
}

button {
    cursor: pointer;
    margin: 0.25rem;
}

.cart {
    background: chartreuse;
    font-size: 2rem;
    padding: 1rem;
    position: absolute;
    top: 3rem;
    right: 1rem;
}

button:disabled {
    cursor: default;
}

.cart-item {
    background-color: aqua;
}

@media only screen and (max-width: 767px) {
    .cart {
        font-size: 1rem;
        padding: 0;
    }
}