.inventory-item {
    background: wheat;
    display: flex;
    flex-direction: column;
    max-width: 15rem;
    padding: 1rem;
    margin: 1rem;
}

button {
    cursor: pointer;
    margin: 0.25rem;
}

.cart {
    background: chartreuse;
    font-size: 2rem;
    padding: 1rem;
    margin: 5rem;
    position: absolute;
    top: 0;
    right: 0;
}

button:disabled {
    cursor: default;
}